html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  column-gap: 1px;
  row-gap: 1px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
}

.cell {
  padding: 2px;
  height: 15px;
  width: 15px;
  text-align: center;

  background-color: #ededed;
  transition: background-color 70ms ease-in;

  cursor: pointer;
  user-select: none;
}

.cell:hover {
  background-color: #dddddd;
}
.cell.highlight-mutation {
  background-color: #ffe07a;
}
.cell.highlight-fibonacci {
  background-color: #8fc998;
}
